trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
    npm install
  displayName: 'Install Angular and Dependencies'

- script: |
    npm run build
  displayName: 'Build'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'dist/client/browser'
    ArtifactName: 'drop'
    publishLocation: Container
  displayName: 'Publish Artifacts'
