<main>
  <div class="container-fluid" style="height: 100dvh; max-height: 100dvh;">
    <div class="d-flex justify-content-between px-4 py-2">
      <div class="d-flex justify-content-between">
        <span class="h4 text-primary">FlowApp</span>
      </div>
      <div class="d-flex align-items-center justify-content-between" style="height: 5dvh;">
        <div class="me-4">
          <app-tutorial></app-tutorial>
        </div>
        <div>
          <app-log-list></app-log-list>
        </div>
      </div>
    </div>
    <app-model-list></app-model-list>
  </div>
</main>

<app-modifying-board></app-modifying-board>

