/* div {
    border:1px solid #ffffff;
} */

.board {
    width:1000px;
    height:560px;
    /* background-color: aqua; */
    /* display: block; */
    /* margin: auto; */
    border: 1px solid #ffffff;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:black;
    opacity:0.8;
    visibility:hidden;
}
